@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto", serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #444;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;

    a {
        color: #fff;

        &:link {
            color: #fff;
        }

        &:visited {
            color: #aaa;
        }
    }
}

header {
    align-self: flex-start;
    background-color: #333;
    min-width: 100%;
}

footer {
    align-self: flex-end;
    background-color: #333;
    min-width: 100%;
    height: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.user-card {
    display: flex;
    width: 30rem;
    background-color: #333;
    padding: 1rem;
    border-radius: 1rem;

    svg {
        width: 640px;
    }
}